<div class="ui grid form">
  <div class="sixteen wide column">
    <form {{action 'save' model on='submit'}} >
      <div class="ui segment">
        {{address-form model=model}}
      </div>
      <button type="submit" class="ui button">Save address</button>
    </form>

    {{#link-to 'addresses' }}
      <button class="ui button icon chevron left">Go Back</button>
    {{/link-to}}
  </div>
</div>
